<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.ayound.js.debug.ui.JslaunchConfigurationTabGroup"
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.ayound.js.debug.ui.JsLaunchConfigurationTabGroup"
            id="org.ayound.js.debug.ui.JslaunchConfigurationTabGroup"
            type="org.ayound.js.debug.core.JsDebug">
         <launchMode
               mode="debug"
               perspective="org.ayound.js.debug.ui.jsDebugPerspective"/>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.ayound.js.debug.ui.JsDebugModelPresentation"
            id="org.ayound.js.debug.model"/>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.ayound.js.debug.ui.context"
            name="%ContextName"
            parentId="org.eclipse.debug.ui.debugging"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            contextId="org.ayound.js.debug.ui.context"
            debugModelId="org.ayound.js.debug.model"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.contextViewBindings">
      <contextViewBinding
            contextId="org.ayound.js.debug.ui.context"
            viewId="org.eclipse.debug.ui.DebugView"/>
      <contextViewBinding
            contextId="org.ayound.js.debug.ui.context"
            viewId="org.eclipse.debug.ui.VariableView"/>
      <contextViewBinding
            autoClose="true"
            autoOpen="true"
            contextId="org.ayound.js.debug.ui.context"
            viewId="org.ayound.js.debug.ui.resourceView"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.ayound.js.debug.ui.editor.JsEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="js,htm,html"
            icon="icons/js.png"
            id="org.ayound.js.debug.ui.editor.JsEditor"
            name="%editorName"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.ayound.js.debug.core.JsDebug"
            icon="icons/js.png"
            id="org.ayound.js.debug.ui.JslaunchConfigurationTypeImage"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.ayound.js.debug.ui.views.ResourceView"
            icon="icons/js.png"
            id="org.ayound.js.debug.ui.resourceView"
            name="%scriptViewName"/>
      <view
            class="org.ayound.js.debug.ui.views.EvalView"
            icon="icons/js.png"
            id="org.ayound.js.debug.ui.ExpressionView"
            name="%expressionViewName"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.ayound.js.debug.ui.rulerActions"
            targetID="org.ayound.js.debug.rulerMenu">
         <action
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="org.ayound.js.debug.ui.toggleBreakPointAction"
               label="%toggleBreakPoint"
               menubarPath="debug"/>
      </viewerContribution>
      <viewerContribution
            id="org.ayound.js.debug.ui.jsEvalAction"
            targetID="org.ayound.js.debug.ui.jsEvalMenu">
         <action
               class="org.ayound.js.debug.ui.eval.JsEditorEvalAction"
               icon="icons/js.png"
               id="org.ayound.js.debug.ui.jsEvalAction"
               label="%watchExpression"
               menubarPath="jsdt.JsEval"/>
         <menu
               id="jsdt.JsEval"
               label="%watchExpression"/>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.ayound.js.debug.ui.JsEditorBreakPointAction"
            targetID="org.ayound.js.debug.ui.editor.JsEditor">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="org.ayound.js.debug.ui.ClickBreakPointAction"
               label="%jsBreakPointAction"
               style="toggle"/>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.ayound.js.debug.ui.JsPerspectiveFactory"
            icon="icons/js.png"
            id="org.ayound.js.debug.ui.jsDebugPerspective"
            name="%appName"/>
   </extension>
   <extension
         id="org.ayound.js.debug.ui.launchShortCut"
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.ayound.js.debug.ui.shortcut.JsDebugLaunchShortcut"
            icon="icons/js.png"
            id="org.ayound.js.debug.ui.launchShortCut"
            label="%shortCutLabel"
            modes="debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <test
                              property="org.eclipse.debug.ui.matchesPattern"
                              value="*.htm">
                        </test>
                        <test
                              property="org.eclipse.debug.ui.matchesPattern"
                              value="*.html">
                        </test>
                     </or>
                  </iterate>
               </with>
            </enablement>
            <contextLabel
                  label="Javascript Debug Toolkit"
                  mode="debug">
            </contextLabel>
         </contextualLaunch>
         <perspective
               id="org.eclipse.ui.resourcePerspective">
         </perspective>
         <perspective
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jst.j2ee.J2EEPerspective">
         </perspective>
         <perspective
               id="org.ayound.js.debug.ui.jsDebugPerspective">
         </perspective>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.ayound.js.debug.ui.editor.JsEditor"
            class="org.ayound.js.debug.ui.adapter.JsEditorAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.ayound.js.debug.ui.jsDebugPerspective">
         <view
               id="org.ayound.js.debug.ui.resourceView"
               relationship="stack">
         </view>
         <view
               id="org.ayound.js.debug.ui.ExpressionView"
               relationship="stack">
         </view>
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>

</plugin>
