<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.ayound.js.debug.ui.JsLaunchConfigurationTabGroup"
            id="org.ayound.js.debug.ui.JslaunchConfigurationTabGroup"
            type="org.ayound.js.debug.core.JsDebug">
         <launchMode
               mode="debug"
               perspective="org.ayound.js.debug.ui.jsDebugPerspective"/>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.ayound.js.debug.ui.JsDebugModelPresentation"
            id="org.ayound.js.debug.model"/>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.ayound.js.debug.ui.context"
            name="Js Debug Context"
            parentId="org.eclipse.debug.ui.debugging"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            contextId="org.ayound.js.debug.ui.context"
            debugModelId="org.ayound.js.debug.model"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.contextViewBindings">
      <contextViewBinding
            contextId="org.ayound.js.debug.ui.context"
            viewId="org.eclipse.debug.ui.DebugView"/>
      <contextViewBinding
            contextId="org.ayound.js.debug.ui.context"
            viewId="org.eclipse.debug.ui.VariableView"/>
      <contextViewBinding
            autoClose="true"
            autoOpen="true"
            contextId="org.ayound.js.debug.ui.context"
            viewId="org.ayound.js.debug.ui.resourceView"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.ayound.js.debug.ui.editor.JsEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="js"
            icon="icons/js.png"
            id="org.ayound.js.debug.ui.editor.JsEditor"
            name="JsEditor"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.ayound.js.debug.core.JsDebug"
            icon="icons/js.png"
            id="org.ayound.js.debug.ui.JslaunchConfigurationTypeImage"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.ayound.js.debug.ui.views.ResourceView"
            icon="icons/js.png"
            id="org.ayound.js.debug.ui.resourceView"
            name="Debug Scripts"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.ayound.js.debug.ui.rulerActions"
            targetID="org.ayound.js.debug.rulerMenu">
         <action
               class="org.ayound.js.debug.ui.breakpoint.ManageBreakpointRulerActionDelegate"
               id="org.ayound.js.debug.ui.toggleBreakPointAction"
               label="Toggle Breakpoint"
               menubarPath="debug"/>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.ayound.js.debug.ui.editorAction"
            targetID="org.ayound.js.debug.ui.editor.JsEditor">
         <action
               actionID="RulerDoubleClick"
               class="org.ayound.js.debug.ui.breakpoint.ManageBreakpointRulerActionDelegate"
               id="org.ayound.js.debug.ui.ClickBreakPointAction"
               label="Js BreakPoint Action"
               state="true"
               style="toggle"/>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.ayound.js.debug.ui.JsPerspectiveFactory"
            icon="icons/js.png"
            id="org.ayound.js.debug.ui.jsDebugPerspective"
            name="JavaScript Debug Toolkit"/>
   </extension>

</plugin>
