<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.ayound.js.debug.launch.JsLaunchConfigurationDelegate"
            id="org.ayound.js.debug.core.JsDebug"
            modes="debug"
            name="%DebugName"
            sourceLocatorId="org.ayound.js.debug.core.sourceLocator"
            sourcePathComputerId="org.ayound.js.debug.core.sourcePathComputer"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="org.ayound.js.debug.locator.JsSourcePathComputerDelegate"
            id="org.ayound.js.debug.core.sourcePathComputer"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="org.ayound.js.debug.locator.JsSourceLocator"
            id="org.ayound.js.debug.core.sourceLocator"
            name="org.ayound.js.debug.core.sourceLocator"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="org.ayound.js.debug.model.JsBreakPoint"
            id="org.ayound.js.debug.core.breakpoint"
            markerType="org.eclipse.debug.core.lineBreakpointMarker"
            name="Js Line BreakPoint"/>
   </extension>
   <extension
         id="org.ayound.js.debug.core.jsMarker"
         name="org.ayound.js.debug.core.jsMarker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.debug.core.lineBreakpointMarker"/>
      <persistent value="true"/>
   </extension>

</plugin>
